---
import ComboBox from '../components/react/ComboBox';
import ResponsiveAppBar from '../components/react/TheHeader';
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<h1>Static page</h1>
	<a href="/vue-app">SPA home</a><br>
	<a href="/vue-app/about">SPA about</a> <br>		
	<a href="/vue-app/blog">SPA blog</a>

	<div>
		<h2>React Components from material UI</h2>
		<div>
			<p>AutoComplete</p>
			<ComboBox client:visible/>
			<ResponsiveAppBar client:visible/>
		</div>
	</div>
</Layout>
